.chat-bubble {
    -fx-background-color: #3caf40;
    -fx-background-radius: 1em;
    -fx-padding: 10px 12px;
    -fx-font: 14px "Helvetica";
}

.chat-bubble-timitomo {
    -fx-background-color: #6c3baa;
    -fx-text-fill: #f5f5f5;
}

.chat-bubble-user {
    -fx-background-color: #118c06;
    -fx-text-fill: #f8f8f8;
}

.profile-pic {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
}