#userInput {
    -fx-padding: 10px;
    -fx-border-color: #6c3baa;
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-font: 14px "Helvetica";
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}

#sendButton {
    -fx-background-color: #118c06;
    -fx-text-fill: #f8f8f8;
    -fx-font: 14px "Helvetica";
    -fx-font-weight: 700;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-margin: 15px;
}

#sendButton:hover {
    -fx-background-color: #646cff;
}

#inputWrapper {
    -fx-spacing: 14px;
    -fx-padding: 10px 15px;
}

#scrollPane {
    -fx-border-color: #666666;
    -fx-focus-color: #646cff;
}

#dialogContainer {
    -fx-background-color: #b3b3b3;
}